/* Estilos da main */
main {
    margin-bottom: 100px;
}

main .container-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto;
}

h2{
    color: rgb(0,0,0);
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
}

h3{
    color: rgb(131,131,131);
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
}

form {
    margin-top: 20px;
}

form input {
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid #0080ed;
}
form [type="submit"] {
    background-color: #0080ed;
    color: rgb(250, 246, 246);
}
form [type="submit"]:hover {
    cursor: pointer;
}

main .container-main img{
    width: 600px;
}
